body {
    background: rgba(190, 215, 231, 0.959);
    font-family: 'Montserrat', sans-serif;
}

.title {
    text-align: center;
    font-size: 45px;
}

.main-wrapper {
    background-color: whitesmoke;
    width: 70%;
    margin: auto;
    border-radius: 5px;
    padding: 2%;

}


.content {
    border: 1px solid rgb(226, 217, 217);
    padding: 5%;
}


#content-title {
    margin-top: 2px;
    text-align: center;
    font-size: 20px;
    background-color: rgb(236, 230, 230);
    padding: 5%;
    border-radius: 5px;
}

.two-wrap {
    display: flex;
    width: 100%;
    max-width: auto;
    margin: 3% 0;
}

.two-wrap div {
    margin: 0 3%;
}

.label {
    width: 50%;
    text-align: right;
    margin-right: 10%;
    font-size: 0.90em;
    vertical-align: top;
}

.field {
    width: 50%;
    text-align: left;
}

input[type='text']{
    width: 90%;
    height: 25px;
    border-radius: 4px;
}

input[type='email']{
    width: 90%;
    height: 25px;
    border-radius: 4px;
}

input[type='radio'] {
    margin-top: 4%;
}

input[type='checkbox']{
    margin-top: 4%;
}

select {
    width: 90%;
    height: 25px;
    border-radius: 4px;
    border: 1px solid gray;
}

ul {
    list-style-type: None;
}


#experience {
    border: 1px solid gray;
    resize: vertical;
}

#submit-area {
    width: 20%;
    margin: auto;
}

#submit-btn {
    background: rgb(17, 134, 212);
    padding: 13px;
    color: white;
    font-size: 20px;;
}